.container{
    
  background-color: yellow;
  
}

.row{
   display: flex;
  justify-content:space-around;
    background-color: burlywood;

}

.rowContent{

  background-color: blueviolet;
}

#img{
    
margin: auto;
    width: 90%;
    height: auto;
}